.page-container{
    justify-content: center;
    display: flex;
}
.page-container h2{
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.add-box{
    margin-left: 13%;
    box-sizing: content-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    padding: 40px;
    width: 400px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.add-form h4:hover {
    font-size: small;
    transition: all .7s;
}

.add-form .inp{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
    font-style: italic;
}
.add-form .inp:hover{
    border-bottom: 1px solid rgb(62, 62, 239);
    transition: .9s;
    padding: 0%;
}
button{
    padding: 13px;
    justify-self: center;
    border-radius: 12px;
    width: 90px;
    font-weight: bold;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(18, 20, 22, 0.15) 0px 0px 0px 1px;
    background-color: grey;
    margin-left: 40%;
}
